body {
    width: 100%;
    margin: 0px;
    background-color: gray;
    

    
}

body > 

a  {
    color: black;
    text-decoration: none;

}

figcaption{
    color: black;
    text-decoration: none;
}

a:hover{
    color: #EF7C00;
}

figcaption:hover {
    color: orange;
}

button {
    color: white;
    border-color: transparent;
    cursor: pointer;
}

h1{
    display: flex;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

h3{
    display: flex;
    justify-content: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 25px;
}

b{
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
}

figcaption{
    padding: 20px;
    margin-left: 20px;

}

footer{
    display: flex;
    justify-content: space-around;
}

.kinfo{
    border: black solid 3px;
    background-color: rgb(170, 170, 170);
    max-width: 500px;
    min-height: 600px;
    
}



.navbarL {
    width: 30%;
    max-width: 500px;
    min-height: 50px;
    display: flex;
    justify-content: space-evenly;

}
img {
    display: block;

}
nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: black;
    

}

a:hover {
    color: orange;
}


.kontakt > * {
    text-decoration: none;
    color: white;

}



.navbarL > * {
    font-size: 20px;
    width: 100px;
    background-color: transparent;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.o {
    color: #ffa500;
}

.logo {
    display: flex;
    justify-content: center;

}

.navbarR {
    gap: 130px;
    width: 30%;
    max-width: 500px;
    min-height: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;

}

.navbarR > .kontakt {
    height: 100;
    width: 96px;
}

.navbarR > * {
    font-size: 20px;
    width: 100px;
    background-color: transparent;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.utdanning > a {
    text-decoration: none;
    color: white;


}

.im > a{
    text-decoration: none;
    color: white;

}

.home{
    display: flex; 

    min-height: 400px;
    min-width:  1200px;
    display: flex;
    justify-content: center;
    margin-block-start: 5rem;
    border-color: red solid 4px
;

}

.imageside > .txt {
    order: 3;
    

}

.txt{  
    display: flex;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-left: 10px;

}

.textbubble{
    display: flex;
    align-items: center;
    order: 2;
    border: 2px solid black;
    background-color: #ffa500;
    min-height: 298px;
    max-height: 298px;
    gap: 6rem;


}


.imageside {

    height: 300px;
    width: 200px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 45px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    gap: 5rem;
}



.box1 {
    display: flex;
    order: 4;
    height: 400px;
    width: 300px;
    background-color: rgb(170, 170, 170);
    border: black solid 5px;




}   

.box1 {
    color: rgb(0, 0, 0);
    font-size: 30px;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}




.box2 {

    display: flex;
    justify-content: center;

    height: 400px;
    width: 300px;
    border: black solid 5px;
    color: white;
    background-color: rgb(170, 170, 170);
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.box3 {
    
    display: flex;
    justify-content: center;

    height: 400px;
    width: 300px;
    border: black solid 5px;
    color: white;
    background-color: rgb(170, 170, 170);
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.boxes {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    height: 500px;

}





footer {
    display: flex;
    border: #EF7C00 solid 5px;
    height: 60px;
    background-color: #EF7C00;

    

}

.utdanningslop{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    height: 1000px;
    


}

.utdanningslop > h1 {
    display: flex;
    justify-content: center;
}

.utdanningsimg{
    display: flex;
    justify-content: center;

}

.utdanningsbild{
    min-width: 1050px;
    height: 750px;
}


.infoim {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
    min-height: 400px;
    padding: 20px;
    gap: 10rem;
    border-bottom: black solid 1px;
    

}

.infoimtxt1 > p, ul {
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
}

.infoimtxt2 > p, ul {
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    min-height: 122px;
}


.infoimtxt1 {
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    flex-grow: 2;

}

.infoimtxt2 {
    flex-basis: 200px;
    flex-grow: 1;

}

.infof21 {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    border-top: black solid 1px;

    padding: 20px;
    min-height: 400px;
    gap: 10rem;
}

.infof211 > p {
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;

}

.infof212 > p {
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;

}

.hjemmesidek{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.infoboxes{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40.625rem;
}

.kinfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:rgb(170, 170, 170);
    border: black solid 2px;
    min-height: 550px;
    min-width: 570px;
}


.kinfo > p {
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;

    
}





.ainfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height: 550px;
    min-width: 570px;
    background-color:rgb(170, 170, 170);
    border: black solid 2px;

}


.ainfo > p {
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;

    
}






